*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#e8f5e9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login{
    background:white;
    width:90%;
    max-width:360px;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.login h1{
    color:#16a34a;
    text-align:center;
    margin-bottom:10px;
}

.login p{
    text-align:center;
    color:#777;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
}
